@import url(normalize.css);

@import url(global.css);


.header {
    margin: 0 auto;
    max-width: 1440px;
    height: 169px;
    color: #000000;
    margin-bottom: 59px;

    a {
        color: #000000;
        opacity: 0.7;

        &:hover {
            color: #000000;
            opacity: 1;
            text-shadow:
                -1px -1px 0 #000000,
                1px -1px 0 #000000,
                -1px 1px 0 #000000,
                1px 1px 0 #000000;
            -webkit-transition: all .5s;
            -moz-transition: all .5s;
            -o-transition: all .5s;
            transition: all .5s;

        }

        &:active {
            opacity: 0.3;
        }
    }


    &_top-panel {
        position: relative;
        top: 0;
        z-index: 2;
    }

    &_logo {
        position: absolute;
        margin-top: 16px;
        margin-left: 32px;
        transition: .2s ease-out;
        opacity: 1 !important;

        &:hover {
            opacity: 0.6 !important;
        }
    }

    .menu {



        &_list {
            display: flex;
            width: 675px;
            justify-content: space-between;
            font-family: 'PlayfairDisplay', sans-serif;
            font-weight: 400;
            font-size: 36px;
            line-height: 48px;
            position: absolute;
            top: 27px;
            right: 140px;
        }

        &_item {
            transition: .2s ease-out;
            opacity: 0.7;


        }
    }

    &_basket {
        position: relative;
        top: 33px;
        left: 1350px;
        width: 38px;
        height: 30px;
        transition: .2s ease-out;
        opacity: 0.5;

        &::before {
            position: absolute;
            content: "";
            width: 41px;
            height: 41px;
            background-image: url(../img/shopping_cart_black.svg);


        }

        &:hover {
            opacity: 1;
        }
    }

    hr {
        position: absolute;
        width: 878px;
        height: 1px;
        background-color: #E5EEF5;
        opacity: 0.5;
        top: 92px;
        right: 0;
    }
}

.content {
    width: 1240px;
    height: 1000px;
    margin: 0 auto;
    border: 2px solid red;

    &-breadcrumb {
        display: flex;
        justify-content: space-between;
       // margin-left: 100px;
        width: 700px;
        height: 32px;
        font-family: 'PlayfairDisplay', sans-serif;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;

        a {
            color: #000000;
        }

    }
}

.footer {
    width: 100%;
    height: 130px;
    background-color: #000000;
    color: #FFFFFF;
    position: absolute;



    a {
        opacity: 1;
    }

    .menu {
        position: absolute;
        top: 0;
        left: 100px;
        width: 800px;
        height: 92px;

        a {
            color: #FFFFFF;
        }


        &_list {
            display: flex;
            width: 675px;
            justify-content: space-between;
            font-family: 'PlayfairDisplay', sans-serif;
            font-size: 36px;
            line-height: 48px;
            position: absolute;
            top: 27px;
            right: 140px;
        }

        &_item {
            transition: .2s ease-out;

            &:hover {
                opacity: 0.7;
            }
        }
    }

    .socials {
        position: absolute;
        left: 1000px;
        top: 40px;
        width: 150px;
        display: flex;
        justify-content: space-between;

        &-link {
            width: 30px;
            height: 30px;
        }

        .link {
            &-insta {
                background-image: url(../img/instagram-icon.svg);
            }

            &-fb {
                background-image: url(../img/Facebook_icon.svg);
            }

            &-tiktok {
                background-image: url(../img/tik-tok.svg);
            }
        }
    }

    &-content {
        width: 1000px;
        height: 92px;
        margin: 0 auto;
    }
}