@import url(normalize.css);
@import url(global.css);
.header {
  margin: 0 auto;
  max-width: 1440px;
  height: 169px;
  color: #000000;
  margin-bottom: 59px;
}

.header a {
  color: #000000;
  opacity: 0.7;
}

.header_top-panel {
  position: relative;
  top: 0;
  z-index: 2;
}

.header_logo {
  position: absolute;
  margin-top: 16px;
  margin-left: 32px;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
  opacity: 1 !important;
}

.header_logo:hover {
  opacity: 0.6 !important;
}

.header .menu_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 675px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'PlayfairDisplay', sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 48px;
  position: absolute;
  top: 27px;
  right: 140px;
}

.header .menu_item {
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
  opacity: 0.7;
  color: #000000;
  opacity: 0.7;
}

.header .menu_item :hover {
  color: #000000;
  opacity: 1;
  text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.header .menu_item:active {
  opacity: 0.3;
}

.header_basket {
  position: relative;
  top: 33px;
  left: 1350px;
  width: 38px;
  height: 30px;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
}

.header_basket::before {
  position: absolute;
  content: "";
  width: 41px;
  height: 41px;
  background-image: url(../img/shopping_cart_black.svg);
  opacity: 0.6;
}

.header_basket:hover {
  opacity: 1;
}

.header hr {
  position: absolute;
  width: 878px;
  height: 1px;
  background-color: #E5EEF5;
  opacity: 0.5;
  top: 92px;
  right: 0;
}

.catalog {
  width: 1206px;
  height: 2000px;
  margin: 0 auto;
  position: relative;
  font-family: 'PlayfairDisplay', sans-serif;
  font-weight: 400;
  color: #FFFFFF;
}

.catalog .menu {
  position: absolute;
  top: 40px;
  left: 0;
  width: 225px;
  height: 305px;
  font-size: 36px;
  line-height: 48px;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 60px;
}

.catalog .menu a {
  color: #000000;
  opacity: 0.7;
}

.catalog .menu a:hover {
  color: #000000;
  opacity: 1;
  text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.catalog .menu a:active {
  opacity: 0.3;
}

.catalog .menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 225px;
  height: 265px;
}

.catalog-content {
  position: absolute;
  top: 30px;
  left: 245px;
}

.catalog-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33% 33% 33%;
      grid-template-columns: 33% 33% 33%;
  -ms-grid-rows: 25% 25% 25% 25%;
      grid-template-rows: 25% 25% 25% 25%;
  -webkit-column-gap: 25px;
          column-gap: 25px;
  row-gap: 15px;
}

.catalog-description {
  position: absolute;
  top: -410px;
  left: 0;
  width: 100%;
  height: 427px;
  opacity: 0;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1;
}

.catalog-link {
  position: relative;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
  width: 273px;
  height: 427px;
}

.catalog-link:hover .catalog-description {
  opacity: 1;
}

.catalog .hashtag-list {
  width: 136px;
  height: 215px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 345px;
}

.catalog .hashtag-list a {
  color: #FFFFFF;
}

.catalog .hashtag-list a:hover {
  background-color: #000307;
  opacity: 0.7;
}

.catalog .hashtag-link {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 28px;
  width: 136px;
  height: 40px;
  border-radius: 24px;
  background-color: #154C9B;
  opacity: 0.7;
  font-size: 14px;
  line-height: 19px;
}

.catalog .hashtag-link.selected {
  background-color: #000307;
  opacity: 0.7;
}

.catalog_hashtags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 73px;
  width: 136px;
  margin-left: 10px;
  margin-top: 15px;
}

.catalog_hashtag {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 28px;
  width: 136px;
  height: 34px;
  background: rgba(0, 3, 7, 0.7);
  border-radius: 24px;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
}

.catalog-article {
  display: block;
  font-size: 36px;
  line-height: 48px;
  width: 100%;
  height: 161px;
  background: rgba(0, 0, 0, 0.5);
  color: #FFFFFF;
  padding: 5px 15px 20px;
}

.active {
  color: #000000;
  opacity: 1 !important;
  text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
  -webkit-transition: all .5s;
  transition: all .5s;
}

/*
.active-catalog {


    border-bottom: 1px;
    width: 225px;
    height: 1px;

    background: #000000;
    transform: matrix(1, 0, 0, -1, 0, 0);

}*/
.footer {
  width: 100%;
  height: 130px;
  background-color: #000000;
  color: #FFFFFF;
  position: absolute;
}

.footer a {
  opacity: 1;
}

.footer .menu {
  position: absolute;
  top: 0;
  left: 100px;
  width: 800px;
  height: 92px;
}

.footer .menu a {
  color: #FFFFFF;
}

.footer .menu_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 675px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'PlayfairDisplay', sans-serif;
  font-size: 36px;
  line-height: 48px;
  position: absolute;
  top: 27px;
  right: 140px;
}

.footer .menu_item {
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
}

.footer .menu_item:hover {
  opacity: 0.7;
}

.footer .socials {
  position: absolute;
  left: 1000px;
  top: 40px;
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .socials-link {
  width: 30px;
  height: 30px;
}

.footer .socials .link-insta {
  background-image: url(../img/instagram-icon.svg);
}

.footer .socials .link-fb {
  background-image: url(../img/Facebook_icon.svg);
}

.footer .socials .link-tiktok {
  background-image: url(../img/tik-tok.svg);
}

.footer-content {
  width: 1000px;
  height: 92px;
  margin: 0 auto;
}
/*# sourceMappingURL=catalog.css.map */