@import url(normalize.css);
@import url(global.css);
.header {
  margin: 0 auto;
  max-width: 1440px;
  height: 887px;
}

.header_top-panel {
  position: relative;
  top: 0;
  z-index: 2;
}

.header_logo {
  position: absolute;
  margin-top: 16px;
  margin-left: 32px;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
}

.header_logo:hover {
  opacity: 0.7;
}

.header .menu a {
  color: #FFFFFF;
}

.header .menu_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 675px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'PlayfairDisplay', sans-serif;
  font-size: 36px;
  line-height: 48px;
  position: absolute;
  top: 27px;
  right: 140px;
}

.header .menu_item {
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
}

.header .menu_item:hover {
  opacity: 0.7;
}

.header_basket {
  position: relative;
  top: 37px;
  left: 1345px;
  width: 38px;
  height: 30px;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
}

.header_basket::before {
  position: absolute;
  content: "";
  width: 38px;
  height: 30px;
  background-image: url(../img/shopping_cart.svg);
}

.header_basket:hover {
  opacity: 0.7;
}

.header hr {
  position: absolute;
  width: 878px;
  height: 1px;
  background-color: #E5EEF5;
  opacity: 0.5;
  top: 92px;
  right: 0;
}

.header .swiper {
  width: 1440px;
  height: 887px;
}

.header .swiper-wrapper {
  width: 1440px;
  height: 887px;
}

.header .swiper-slide {
  width: 1440px;
  height: 887px;
}

.header .swiper-pagination {
  left: 46%;
  bottom: 30px;
}

.header .swiper-pagination-bullets {
  width: 117px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .swiper-pagination-bullet {
  background: #FFE8FF;
  opacity: 0.5;
  width: 15px;
  height: 15px;
}

.header .swiper-pagination-bullet-active {
  background: #FFE8FF;
  opacity: 1;
}

.header .slider {
  z-index: 20;
}

.header .slider-text {
  position: absolute;
  left: 30px;
  top: 681px;
  width: 795px;
  height: 88px;
  font-weight: normal;
  font-size: 72px;
  line-height: 98px;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 21;
}

.featured {
  margin-top: 24px;
  margin-bottom: 132px;
}

.featured-title {
  margin-bottom: 24px;
}

.featured-slider {
  margin: 0 auto;
}

.featured .swiper-container {
  width: 1300px;
  height: 431px;
}

.featured .swiper-navigation {
  position: relative;
}

.featured .swiperPrev {
  position: absolute;
  border: none;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-image: url(../img/Prev.svg);
  top: -240px;
  left: 10px;
  cursor: pointer;
}

.featured .swiperNext {
  position: absolute;
  border: none;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-image: url(../img/Next.svg);
  top: -240px;
  left: 1380px;
  cursor: pointer;
}

.featured .swiper-slide {
  width: 307px;
  height: 431px;
}

.featured .swiper .slide {
  position: relative;
  width: 307px;
  height: 431px;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.featured .swiper .slide:hover .slide_content {
  opacity: 1;
}

.featured .swiper .slide_content {
  position: absolute;
  top: 134px;
  left: 0;
  width: 259px;
  height: 134px;
  font-family: 'PlayfairDisplay', sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 48px;
  color: #FFFFFF;
  width: 287px;
  height: 161px;
  background: rgba(0, 0, 0, 0.35);
  z-index: 10;
  opacity: 0;
}

.featured .swiper .slide_img {
  position: absolute;
  left: 20px;
  top: 0;
}

.about {
  margin-bottom: 131px;
}

.about-title {
  text-align: left;
  margin-left: 55px;
}

.about-text {
  width: 1248px;
  height: 306px;
  margin-left: 55px;
  font-family: 'PlayfairDisplay', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.prints {
  margin-bottom: 132px;
}

.prints-title {
  margin-bottom: 50px;
}

.prints .gallery-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1345px;
}

.prints .gallery_img {
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
}

.prints .gallery_img:hover {
  opacity: 0.7;
}

.life {
  margin-bottom: 100px;
}

.life-title {
  margin-bottom: 50px;
}

.life .content {
  width: 1342px;
  height: 652px;
  margin: 0 auto;
  position: relative;
}

.life .content-title {
  position: absolute;
  top: 520px;
  left: 657px;
  color: #FFFFFF;
  font-family: 'PlayfairDisplay', sans-serif;
  font-weight: 400;
  font-size: 72px;
  line-height: 96px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
}

.life .content-title:hover {
  opacity: 0.7;
}

.life .content-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews {
  margin-bottom: 130px;
}

.reviews-title {
  margin-bottom: 50px;
}

.reviews-content {
  width: 1342px;
  height: 950px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  grid-gap: 26px;
  -ms-grid-rows: 462px 462px;
      grid-template-rows: 462px 462px;
  -ms-grid-columns: 25% 25% 25% 25%;
      grid-template-columns: 25% 25% 25% 25%;
}

.reviews_img {
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
  height: 462px;
}

.reviews_img:hover {
  opacity: 0.7;
}

.footer {
  width: 100%;
  height: 130px;
  background-color: #000000;
  color: #FFFFFF;
  position: relative;
}

.footer .menu {
  position: absolute;
  top: 0;
  left: 100px;
  width: 800px;
  height: 92px;
}

.footer .menu a {
  color: #FFFFFF;
}

.footer .menu_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 675px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'PlayfairDisplay', sans-serif;
  font-size: 36px;
  line-height: 48px;
  position: absolute;
  top: 27px;
  right: 140px;
}

.footer .menu_item {
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
}

.footer .menu_item:hover {
  opacity: 0.7;
}

.footer .socials {
  position: absolute;
  left: 1000px;
  top: 40px;
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .socials-link {
  width: 30px;
  height: 30px;
}

.footer .socials .link-insta {
  background-image: url(../img/instagram-icon.svg);
}

.footer .socials .link-fb {
  background-image: url(../img/Facebook_icon.svg);
}

.footer .socials .link-tiktok {
  background-image: url(../img/tik-tok.svg);
}

.footer-content {
  width: 1000px;
  height: 92px;
  margin: 0 auto;
}
/*# sourceMappingURL=index.css.map */